<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Comfortaa:wght@400;600&family=Rowdies:wght@700&display=swap');
      </style>
      <script defer src="https://kit.fontawesome.com/91a2e27bef.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./source/styles.css">    
    <title>About me</title>
</head>
<body>
    <div class="container">
        <div id="nav">
            <div id="name_">
                <h1>murgui</h1><h1 id="blinking">_</h1>
            </div>  
            <!--Social media span-->    
            <div id="media">
                <a href="https://github.com/murguiRG/Portfolio"><i class="fa-brands fa-github icon"></i></a>
                <a href="https://www.linkedin.com/in/regina-murguía-corona-771427294/"><i class="fa-brands fa-linkedin-in icon"></i></a>
            </div>
        </div>                
        <div class="grid-container"> 
            <div>
                <img src="/images/ucoctlu.jpg" alt="Me">
            </div>
            <div>
                <p><b>Hola, aquí Regi, también me dicen murgui ❁</b>, 
                    en camino a convertirme en más que una pila completa 
                    (<b><i>full-stack</i></b>): en una pila rebosada 
                    (<b><i>stack-overflow</i></b>) (●'◡'●)
                </p>

                <p>Me gustan tanto la programación front-end como back-end, el diseño, 
                    aprender, el áinime, soy melomaníaca (muero por la música), me gusta 
                    cantar, bailar, dibujar y soy buena en todo eso (menos programando) JAJAJ, 
                    bueno, no tanto así...</p>

                <h2><b>Trabajo con:</b></h2>

                <ul>
                    <li><b>Tecnologías web:</b> HTML, CSS</li>
                    <li><b>Lenguajes:</b> C#, JavaScript</li>
                    <li><b>Frameworks:</b> BootStrap</li>
                    <li><b>Control de versiones:</b> Git, GitHub</li>
                </ul>
            </div>        
        </div> 
    </div>   
</body>
</html>
