*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container{
    display: grid;
    width: min(85%, 1200px);
    height: 100vh;    
    margin-inline: auto;    
    align-items: center;
    justify-content: center;        
    grid-template-columns: repeat(auto-fill, 120px);
    column-gap: 15px;
    row-gap: 15px;   
}
.card{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;    
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(45deg, #e90e33, #352258);
    transition: 0.3s;
    cursor: pointer;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.card-content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 10%;    
    font-size: 60px;     
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
}    
.card-content::selection{
    background-color: transparent;    
}
.flipped{
    transform: rotateY(-180deg);    
}
